# cache
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# envs
.venv/
venv/
env/
.env/
.env.*
.env
ENV/

# build artifacts
build/
dist/
wheels/
*.egg-info/
*.py[cod]
*.spec

# misc
*.log
log.*
.log.*

# editors configs
.vscode/
.idea/