name: Checks

on:
  push:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Set Dependencies
        run: | 
          uv python pin ${{ matrix.python-version }}
          uv venv .venv --python ${{ matrix.python-version }} --clear
          uv sync --all-groups --all-extras --locked

      - name: Show Versions
        run: |
          uv --version
          uv run python --version


      - name: Static Typing Checks 
        run: |
          uv run mypy .
          uv run basedpyright
          uv run pyrefly check --output-format=min-text
          uv run ty check --output-format=concise

      - name: Linter/Formatter Checks
        run: |
          uv run ruff check --output-format=github
          uv run ruff format --check

      - name: Pytest
        run: uv run pytest --doctest-modules


